<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GSUproject</title>
  <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="bg/css/style.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="myapp">

  <div class="main">
    <div class="bg">

      <button type="button" class="btn btn-primary" onclick="backtoIndex()">Back to Index</button>
      <script>
        function backtoIndex() {
          window.location.href = "index.html";
        }
      </script>


      <div  style='text-align:center;margin-top:6%;margin-bottom:1%;margin-left:20%;margin-right:20%;background-color:bisque;border-radius: 40px 40px 40px 40px;' ng-controller='myCtrl'>
        <div style='text-align:center;font-size:80px;margin-top:10%;font-family:mydefinedFont''>
          {{title}}
        </div>
        <div style='text-align:center;margin-top:2%;margin-bottom:1%;text-align:center;font-size:50px;font-family:mydefinedFont'>
          <p>{{question}}</p>
        </div>
        <br>
        <div class='left2'>
          <button type='button' class='btn btn-primary' ng-click='yes()' style='margin-right:0%;margin-top:3%;font-size:30px;font-family:mydefinedFont'>Yes</button>
        </div>
        <div class='right2'>
          <button type='button' class='btn btn-primary' ng-click='no()' style='margin-left:0%;margin-top:2%;font-size:30px;font-family:mydefinedFont'>No</button>
        </div>
      </div>

    </div>
  </div>
  <!--********************************************************************************************************************-->
  <script>
    var app = angular.module('myapp', []);

    app.controller('myCtrl', function ($scope) {
      $scope._myvideo = "";
      $scope.question = "When you riding the bus. Is it important for you to stay in seat?";
      $scope.title = "Question 1:";
      $scope.count = 0;
      $scope.videoaddress = "pages1video.html";
      $scope.yes = function () {
        $scope.question = "If you need to talk ti a kid. Is it ok for you to yell if you do it really fast?";
        $scope.title = "Question 2:";
        $scope.count = $scope.count + 1;
        if ($scope.count > 2) {
          window.location.href = $scope.videoaddress;
        }
      }
      $scope.no = function () {
        $scope.question = "Do you fut everyone in danger if he or she doesn't obey the rules?";
        $scope.title = "Question 3:";
        $scope.count = $scope.count + 1;
        if ($scope.count > 2) {
          window.location.href = $scope.videoaddress;
        }
      }
    });
    $scope.flag = 1;
  </script>
  <!--***********************************************************************************************************************-->

  <div class="windmill">
    <div class="hills"></div>
    <div class="wheel">
      <div class="windwheel"></div>
      <div class="windwheel windwheel2"></div>
      <div class="windwheel windwheel3"></div>
      <div class="windwheel windwheel4"></div>
    </div>
    <div class="roof"></div>
    <div class="mill"></div>
    <div class="house"></div>
    <ul class="tree">
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="bush">
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="bush bush2">
      <li></li>
      <li></li>
    </ul>
    <div class="cloud"></div>
    <div class="cloud cloud2"></div>
  </div>
</body>
</html>
